.calculadora {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #0f3460;
    width: 350px;
    height: 550px;
    border-radius: 25px;
}
.calculadora td button {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
    background-color: #e94560;
}
#creditos {
    display: block;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    width: 300px;
}
#resultado {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    border-radius: 25px;
    overflow-y: scroll;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: "Bowlby One SC", cursive;
    --ff-secondary: "Audiowide", sans-seriff;

    --fw-reg: 400;
    --fw-bold: 1000;
    --clr-light: #fff;
    --clr-accent-light: #e1ffee;
    --clr-dark: #2f2c2c;
    --clr-accent: #5398be;
    --clr-accent-dark: #094d92;
    --clr-red: #db2955;

    --clr-green: #26c485;
    --clr-orange: #f17300;

    --fs-h1: 2rem;
    --fs-h2: 1.3rem;
    --fs-body: 1.1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* Global Styles */

body {
    margin: 0 auto;
    max-width: 1250px;
    background-color: rgb(56 67 87);
    font-family: var(--ff-primary);
}

button,
input {
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
}
p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/*GAME STYLES*/

.main-game {
    display: flex;

    flex-wrap: wrap;
    margin-top: 2em;

    justify-content: space-around;
}

.main-game__circle {
    margin: 2em 1em;
    padding: 1em;
}
.circle {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: var(--clr-accent-light);
    margin: 150px;
    rotate: 270deg;
}

.circle__letter {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    position: absolute;
    width: 2.2em;
    height: 2.2em;
    background-color: var(--clr-accent-dark);
    color: var(--clr-light);
    border: solid 1px var(--clr-accent-light);
    border-radius: 50%;
    padding: 0.4rem;
    text-align: center;
}
.circle__letter--wrong {
    background-color: var(--clr-red);
    color: var(--clr-light);
    border: solid 1px var(--clr-red);
    box-shadow: var(--bs);
}

.circle__letter--correct {
    background-color: var(--clr-green);
    color: var(--clr-light);
    border: solid 1px var(--clr-green);
    box-shadow: var(--bs);
}

.circle__letter--active {
    background-color: var(--clr-orange);
    color: var(--clr-light);
    border: solid 1px var(--clr-orange);
    box-shadow: var(--bs);
}

.main-game__questions {
    font-family: var(--ff-secondary);
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    justify-content: space-around;
    width: 500px;
    min-height: 320px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.questions {
    width: 500px;
    min-height: 320px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.questions__title {
    height: 130px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.3;
}
.questions__input {
    padding: 0.5em;
    margin-left: 10px;
    border: 3px solid black;
}
.questions__time {
    font-size: var(--fs-h1);
    display: flex;
    justify-content: flex-end;
}
.questions__time--circle {
    border: 3px solid var(--clr-dark);
    background-color: var(--clr-red);
    font-weight: var(--fw-bold);
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    min-width: 3em;
    padding: 0.2em;
    color: var(--clr-light);
}
.questions__show-answer {
    display: flex;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    justify-content: center;
    margin-top: 1em;
    height: 3em;
    text-align: center;
    transition: color 0.8s linear 3s;
    opacity: 0.7;
}

.questions__name {
    margin-top: 1em;
    text-align: right;
    font-weight: var(--fw-bold);
}

.questions__buttons-container {
    margin-right: 2em;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
}
.questions__button {
    cursor: pointer;
    border-radius: 10px;
    color: var(--clr-light);
    border: none;
    padding: 15px 32.5px;
    margin: 10px;
    background-color: var(--clr-green);
}
.questions__button:hover {
    background-color: var(--clr-accent-dark);
}
.questions__button--next {
    background-color: var(--clr-orange);
}

.questions__button--small {
    padding: 10px 15px;
    font-size: 0.9em;
    background-color: var(--clr-red);
}
.questions__button--small:hover {
    background-color: var(--clr-accent-dark);
}

.new-game {
    width: 500px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.new-game__title {
    height: 200px;
    display: flex;
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.3;
    margin: 0;
}
.new-game__subtitle {
    height: 100px;
    display: flex;
    font-family: var(--ff-secondary);
    font-size: var(--fs-h2);
    text-align: center;
    justify-content: space-around;
    align-items: center;
    line-height: 1.3;
    margin-top: 0.5em;
}
.new-game__input {
    padding: 0.5em;
    margin-left: 10px;
    border: 3px solid black;
    margin: 0 0 1em 0;
}

.new-game__button {
    cursor: pointer;
    border-radius: 10px;
    color: var(--clr-light);
    border: none;
    padding: 15px 32.5px;
    margin: 10px;
    background-color: var(--clr-green);
}
.new-game__button:hover {
    background-color: var(--clr-accent-dark);
}
.end-game {
    width: 500px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.end-game__title {
    height: 100px;
    display: flex;
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    margin: 0;
}
.end-game__subtitle {
    display: flex;
    font-family: var(--ff-secondary);
    font-size: var(--fs-h2);
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.3;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}
.end-game__ranking {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    align-content: space-around;
    flex-wrap: wrap;
}

.end-game__button {
    cursor: pointer;
    border-radius: 10px;
    color: var(--clr-light);
    border: none;
    padding: 15px 32.5px;
    margin: 10px;
    background-color: var(--clr-red);
    align-items: center;
}
.end-game__button:hover {
    background-color: var(--clr-accent-dark);
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 500px;
}

@media (max-width: 600px) {
    .main-game {
        flex-direction: column-reverse;
        margin-top: 0.2em;
    }
}
body {
    padding:20px 0 0;
    font:14px/1.5 Arial, sans-serif;
    text-align:center;
    color:#333;
    background-color:rgb(56 67 87);
}

a {
    font-weight:bold;
    color:#346AA8;
}

a:hover,
a:focus,
a:active {
    text-decoration:none;
}

.drop-shadow {
    position:relative;
    width:45%;
    padding:1em;
    margin:2em auto 5em;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
}

.drop-shadow:after{
    right:10px;
    left:auto;
}

.round {
    -moz-border-radius:4px;
    border-radius:4px;
}

.round:before,
.round:after {
    max-width:300px;
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}

.round:after {
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
}

.curls {
    border:1px solid #efefef;
    -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;
    border-radius:0 0 120px 120px / 0 0 6px 6px;
}

.curls:before,
.curls:after {
    bottom:12px;
    max-width:200px;
    height:55%;
    -webkit-box-shadow:0 8px 16px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:0 8px 16px rgba(0, 0, 0, 0.4);
    box-shadow:0 8px 16px rgba(0, 0, 0, 0.4);
    -webkit-transform:skew(-8deg) rotate(-4deg);
    -moz-transform:skew(-8deg) rotate(-4deg);
    -o-transform:skew(-8deg) rotate(-4deg);
    transform:skew(-8deg) rotate(-4deg);
}

.curls:after {
    -webkit-transform:skew(8deg) rotate(4deg);
    -moz-transform:skew(8deg) rotate(4deg);
    -o-transform:skew(8deg) rotate(4deg);
    transform:skew(8deg) rotate(4deg);
}

.perspective:before {
    left:28px;
    bottom:8px;
    max-width:200px;
    height:35%;
    -webkit-box-shadow:-60px 5px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:-60px 5px 8px rgba(0, 0, 0, 0.4);
    box-shadow:-60px 5px 8px rgba(0, 0, 0, 0.4);
    -webkit-transform:skew(50deg);
    -moz-transform:skew(50deg);
    -o-transform:skew(50deg);
    transform:skew(50deg);
}

.perspective:after {
    display:none;
}

.raised:before {
    width:auto;
    right:10px;
    left:10px;
    bottom:0;
    -webkit-box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}

.rotated {
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}

.rotated *:first-child:before {
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

